In [5]:
# quadratic equation
a=float(input())
b=float(input())
c=float(input())
D=(b**2)-(4*a*c)
if (D>0):
    print("it has real roots")
elif (D==0):
    print("it has real and equal root")
else:
    print("it has imaginary roots")

2
4
2
it has real and equal root

In [16]:
import calendar
ab20=calendar.month(2011,12)
print(ab20)

   December 2011
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [ ]:
# number system 
# hcf
# lcm
# gcd

In [17]:
a=int(input("Enter a number:" ))
b=[]
while (a>0):
    b.append(a%2)
    a=int(a/2)
b.reverse()
print(b)

Enter a number:2
[1, 0]

In [20]:
import math

# Function to find HCF/GCD
def find_hcf(x, y):
    return math.gcd(x, y)

# Taking input from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Finding and printing the HCF/GCD
hcf = find_hcf(num1, num2)
print(f"The HCF/GCD of {num1} and {num2} is {hcf}")

Enter the first number: 60
Enter the second number: 80
The HCF/GCD of 60 and 80 is 20

In [25]:
a="                     Hello World!                 " 
a.strip()

'Hello World!'

In [26]:
a = "HellH, World!"
print(a.replace("H", "J"))

JellJ, World!

In [27]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [34]:
age = 36
txt = "My name is John, I am {}"
print(txt.format(age))

My name is John, I am 36

In [38]:
print("Hello \"age\"there")

Hello "age"there

In [48]:
a="Hello"
b=a.join("world")
print(b)

wHellooHellorHellolHellod

In [52]:
a=['d','d','d','e','d','ed']
print(a[:])

['d', 'd', 'd', 'e', 'd', 'ed']

In [59]:
thislist = list(("apple", "banana", "cherry"))# note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [60]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [63]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [64]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [67]:
def myfunc(n):                         #here key in the parameter of sort is just like custom comarator
  return abs(n - 50)

thislist=[100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [68]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [70]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [73]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [74]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [75]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [77]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)
print(fruits.index('apple'))

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
0

In [151]:
eset={'a','b','r'}
type(eset)

set

In [152]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [155]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x

'Mustang'

In [156]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [158]:
x = car.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [160]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict=tuple(thisdict)
# thisdict.pop()
print(thisdict)

('brand', 'model', 'year')

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [8]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Using setdefault() on an existing key
value_a = my_dict.setdefault('a', 10)
print(value_a)  # Output: 1 (value of 'a' in the dictionary)

# Using setdefault() on a new key
value_d = my_dict.setdefault('d', 4)
print(value_d)  # Output: 4 (default_value since 'd' was not present in the dictionary)

print(my_dict)
# Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4} (the dictionary is updated with the new key-value pair)

1
4
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [9]:
a = 2
b = 50
c = 2
if(a==c or b==c):

  print("YES")

YES

In [10]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [11]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [37]:
def my_function(x,/):
  print(x)

my_function(3)

3

In [ ]:
def my_function(x, /):
  print(x)                                          # ,/ keyword argument bhejne se rokta hai

my_function(x = 3)

In [ ]:
def my_function(*, x):
  print(x)                                      # * isse irf arguments he bhej skte

my_function(x = 3)

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

In [1]:
import numpy as np
s=np.arange(2,10,2)
s

array([2, 4, 6, 8])

In [19]:
a=0.1+0.2
if (a==0.3):
    print(True)
else:
    print(False)
    print(a)

False
0.30000000000000004

In [28]:
a=256
b=256
if (a is b):
    print(True)
else:
    print(False)
    
c=257
d=257
if (c is d):
    print(True)
else:
    print(False)

True
False