In [1]:
#sum of squares of even numbers till n.
n=int(input())
ans=0
for i in range(1,n+1):
    if i%2==0:
        ans=ans+(i**2)
print(ans)

4
20

In [5]:
#calculate value of investment by adding annual intrest every year ...
investment=float(input())
rate_of_intrest=int(input())
time=int(input())
i=investment
for i in range(1,time+1):
    salary=(investment*(1+(rate_of_intrest/100)))
    print(salary)
    investment=salary

20000
12
5
22400.000000000004
25088.000000000007
28098.560000000012
31470.387200000016
35246.83366400002

###    nested loops

In [9]:
n=int(input())
for j in range(1,n+1):
    for i in range(1,n+1):
        print(i,end="")
    print()

5
12345
12345
12345
12345
12345

In [10]:
n=int(input())
for i in range(1,n+1):
    for i in range(1,n+1):
        print("*",end="")
    print()

6
******
******
******
******
******
******

In [22]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [29]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end="")
        j=j+1
    print()
    i=i+1

5
*
**
***
****
*****

In [31]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(i,end="")
        j=j+1
    print()
    i=i+1

5
1
22
333
4444
55555

In [35]:
n=int(input())
i=1
k=0
while i<=n:
    j=1
    while j<=i:
        print(k,end="")
        j=j+1
        k=k+1
    print()
    i=i+1

4
0
12
345
6789

In [28]:
n=int(input())
for i in range(1, n+1):
    for j in range(n, 0, -1):
        if(j <= i):
            print(j, end="")
        else:
            print(" ", end="")
    print()

4
   1
  21
 321
4321

In [44]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    j=1
    while j<=i:
        print(n-spaces-j+2,end="")
        j=j+1
    print()
    i=i+1

4
   1
  21
 321
4321

In [13]:
n=int(input())
i=5
for i in range(1,n+1,1):
    for j in range(n+1,i,-1):
        if i%2==0:
            print("0",end="")
        else:
            print("1",end="")
    print()

6
111111
00000
1111
000
11
0

In [54]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    j=1
    while j<=i:
        print(j,end="")
        j=j+1
    k=j-2
    while k>=1:
        print(k,end="")
        k=k-1
    print()
    i=i+1

5
    1
   121
  12321
 1234321
123454321

In [9]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(' ',end="")
        spaces=spaces+1
    num=1
    while num<=i:
        print(i,end=" ")
        num=num+1
    print()
    i=i+1

4
   1
  2 2
 3 3 3
4 4 4 4

In [164]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<i:
        print(" ",end="")
        spaces=spaces+1
    num=n-i+1
    while num>0:
        print(num,end="")
        num=num-1
    dec=num+2
    while dec<=n-i+1:
        print(dec,end="")
        dec=dec+1
    print()
    i=i+1

5
543212345
 4321234
  32123
   212
    1

In [126]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    j=1
    while j<=i:
        print(n-spaces-j+2,end="")
        j=j+1
    k=2
    while k<=i:
        print(k,end="")
        k=k+1
    print()
    i=i+1

4
   1
  212
 32123
4321234

In [138]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end="")
        j=j+1
    spaces=1
    while spaces<=n-i:
        print("  ",end="")
        spaces=spaces+1
    j=1
    while j<=i:
        print(n-spaces-j+2,end="")
        j=j+1
    print()
    i=i+1

5
1        1
12      21
123    321
1234  4321
1234554321

In [22]:
p=int(input())
n=(p/2)+1
i=1
if p>1:
    while i<=n:
        spaces=1
        while spaces<=n-i:
            print(" ",end="")
            spaces=spaces+1
        j=1
        while j<=i:
            print("*",end="")
            j=j+1
        k=2
        while k<=i:
            print("*",end="")
            k=k+1
        print()
        i=i+1
    n=(p/2)-1
    i=1
    while i<=n:
        spaces=1
        while spaces<i+1:
            print(" ",end="")
            spaces=spaces+1
        num=n-i+1
        while num>=0:
            print("*",end="")
            num=num-1
        dec=num+2
        while dec<=n-i+1:
            print("*",end="")
            dec=dec+1
        print()      
        i=i+1
    for q in range(0,int(n)+1):
        print(" ",end="")
    print("*")
else:
    print("*")

10
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [27]:
n=int(input())
for i in range(1,n+1):
    for space in range(0,i-1):
        print(" ",end="")
    for num in range(i,n+1):
        print(num,end="")
    print()
for i in range(1,n):
    for k in range(n-2-i,-1,-1):
        print(" ",end="")
    for j in range(n-i,n+1):
        print(j,end="")
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [1]:
n=int(input())
for i in range(1,n+1):
    for i in range(1,i+1):
        print("*",end="")
    print()

5
*
**
***
****
*****

In [4]:
n=int(input())
i=1
while i<=n:
    star=1
    while star<=i:
        print("*",end="")
        star=star+1
    print()
    i=i+1

4
*
**
***
****

In [9]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
1
22
333
4444
55555

In [8]:
n=int(input())
i=1
while i<=n:
    num=1
    while num<=i:
        print(i,end="")
        num=num+1
    print()
    i=i+1

5
1
22
333
4444
55555

In [10]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

5
1
12
123
1234
12345

In [11]:
n=int(input())
i=1
while i<=n:
    num=1
    while num<=i:
        print(num,end="")
        num=num+1
    print()
    i=i+1

5
1
12
123
1234
12345

In [12]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end="")
    print()

5
*****
****
***
**
*

In [13]:
n=int(input())
i=1
while i<=n:
    star=1
    while star<=n:
        print("*",end="")
        star=star+1
    print()
    n=n-1

5
*****
****
***
**
*

In [14]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

5
12345
1234
123
12
1

In [15]:
n=int(input())
i=1
while i<=n:
    num=1
    while num<=n:
        print(num,end="")
        num=num+1
    print()
    n=n-1

5
12345
1234
123
12
1

In [16]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i,end="")
    print()

5
11111
22222
33333
44444
55555

In [17]:
n=int(input())
i=1
while i<=n:
    num=1
    while num<=n:
        print(i,end="")
        num=num+1
    print()
    i=i+1

5
11111
22222
33333
44444
55555

In [18]:
n=int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
55555
4444
333
22
1

In [21]:
n=int(input())
i=1
while i<=n:
    num=1
    while num<=n:
        print(n,end="")
        num=num+1
    print()
    n=n-1

5
55555
4444
333
22
1

In [20]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    num=1
    while num<=i:
        print(i,end="")
        num=num+1
    print()
    i=i+1

5
    1
   22
  333
 4444
55555

In [15]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(1,n-i+1):
        print(" ",end="")
    for num in range(1,i+1):
        print(i,end="")
    print()

5
    1
   22
  333
 4444
55555

In [10]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(1,n-i+1):
        print(" ",end="")
    for num in range(1,i+1):
        print(num,end="")
    for rev in range(i-1,0,-1):
        print(rev,end="")
    print()

5
    1
   121
  12321
 1234321
123454321

In [14]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    num=1
    while num<=i:
        print(num,end="")
        num=num+1
    rev=i-1
    while rev>0:
        print(rev,end="")
        rev=rev-1
    print()
    i=i+1

5
    1
   121
  12321
 1234321
123454321

In [7]:
ch=input()
a=('a','e','i','o','u','A','E','I','O','U')
if ch in a:
    print("its a vowel")
else:
    print("its not a vowel")

a
its a vowel

In [30]:
n=int(input())
for i in range(0,n):
    for spaces in range(0,i):
        print(" ",end="")
    for num in range(1,n-i):
        print(num,end="")
    for rev in range(n-i,0,-1):
        print(rev,end="")
    print()

5
123454321
 1234321
  12321
   121
    1

In [24]:
n=int(input())
i=1
while i<=n:
    spaces=2
    while spaces<=i:
        print(" ",end="")
        spaces=spaces+1
    num=1
    while num<=n-i+1:
        print(num,end="")
        num=num+1
    rev=n-i
    while rev>0:
        print(rev,end="")
        rev=rev-1
    print()
    i=i+1

5
123454321
 1234321
  12321
   121
    1

In [ ]:
'''
*
 **
  ***
   ****
  ***
 **
*
'''

In [30]:
n=int(input())
a=n//2+1
for i in range(1,n+1):
    if i<=a:
        for j in range(0,i-1):
            print(" ",end="")
        for num in range(1,i+1):
            print("*",end="")
        print()
    else:
        for j in range(i,n,1):
            print(" ",end="")
        for num in range(i,n+1):
            print("*",end="")
        print()

7
*
 **
  ***
   ****
  ***
 **
*

In [41]:
k=int(input())
n=k//2+1
for i in range(1,n+1):
    for spaces in range(1,i):
        print(" ",end="")
    for star in range(1,i+1):
        print("*",end="")
    print()
p=k-n
for i in range(1,p+1):
    for spaces in range(p-i,0,-1):
        print(" ",end="")
    for star in range(p-i,-1,-1):
        print("*",end="")
    print()

9
*
 **
  ***
   ****
    *****
   ****
  ***
 **
*

In [17]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n:
        if spaces==i:
            print("*",end="")
        else:
            print("0",end="")
        spaces=spaces+1
    print("*",end="")
    spaces=1
    while spaces<=n:
        if spaces==n-i+1:
            print("*",end="")
        else:
            print("0",end="")
        spaces=spaces+1
    print()
    i=i+1

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

In [122]:
n=int(input())
a=ord("A")
i=1
while i<=n:
    inc=0
    while inc<i:
        print(chr(a+inc+i-1),end="")
        inc=inc+1
    print()
    i=i+1

4
A
BC
CDE
DEFG

In [107]:
'''
E
DE
CDE
BCDE
ABCDE
'''

'A'

In [18]:
n=int(input())
a=ord("A")
b=1
while b<=n:
    alp=1
    while alp<=b:
        print(chr(a+b-1),end="")
        alp=alp+1
    print()
    b=b+1

5
A
BB
CCC
DDDD
EEEEE

In [19]:
li = [5,2,6,8]
li.pop(2)
print(li)

[5, 2, 8]

In [36]:
def sum_list(n):
    add=0
    for i in range(0,len(n)):
        add=add+n[i]
    return add
a=[1,2,3,4,5]
b=sum_list(a)
print(b

15

In [1]:
n=int(input())
answer=[['1']]
for i in range(2,n+1):
    t=[str(i)]*((2*i)-3)
    t2=[str(i)]*((2*i)-3)
    answer.insert(0,t2)
    answer.append(t)
    for a in answer:
        a.insert(0,str(i))
        a.append(str(i))
answerfinal=[]
for a in answer:
    answerfinal.append("".join(a))
for a in answerfinal:
    print(a)

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [ ]:
'''
E
DE
CDE
BCDE
ABCDE

'''

In [16]:
n=int(input())
a=ord("A")
for i in range(n-1,-1,-1):
    for j in range(i,n,1):
        print(chr(a+j),end="")
    print()

5
E
DE
CDE
BCDE
ABCDE

In [18]:
n=int(input())
k=1
for i in range(1,n+1):
    for j in range(n,0,-1):
        if j==k:
            print("*",end='')
        else:
            print(j,end="")
    k=k+1
    print()

5
5432*
543*1
54*21
5*321
*4321

In [1]:
n=int(input())
answer=[['1']]
for i in range(2,n+1):
    t=[str(i)]*((2*i)-3)
    t2=[str(i)]*((2*i)-3)
    answer.insert(0,t2)
    answer.append(t)
    for a in answer:
        a.insert(0,str(i))
        a.append(str(i))
answerfinal=[]
for a in answer:
    answerfinal.append("".join(a))
for a in answerfinal:
    print(a)

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [44]:
n = int(input())
for i in range(1,n+1):
    temp = n
    for j in range(1,i):
        print(temp,end="")
        temp = temp -1
    for j in range(1,(2*n) - (2*i) + 2):
        print(n-i+1,end="")
    for j in range(1,i):
        temp = temp+1
        print(temp,end="")
    print()
for i in range(n-1,0,-1):
    temp = n
    for j in range(1,i):
        print(temp,end="")
        temp = temp - 1 
    for j in range(1,(2*n) - (2*i) + 2):
        print(n-i+1,end="")
    for j in range(1,i):
        temp = temp+1
        print(temp,end="")
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [ ]:
"     *     
     ***
   ******
  ********
 **********"

In [12]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    num=1
    while num<=i:
        print("*",end="")
        num=num+1
    rev=num-2
    while rev>=1:
        print("*",end="")
        rev=rev-1
    print()
    i=i+1

5
    *
   ***
  *****
 *******
*********

In [15]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(1,n-i+1):
        print(" ",end="")
    for num in range(1,i+1):
        print("*",end="")
    for rev in range(i-1,0,-1):
        print("*",end="")
    print()

6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
1
4 2 
1 2 
3 4 
5 6 
7 8
Sample Output 1:
3 7 11 15

In [4]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(n-i,-1,-1):
        print(" ",end="")
    for num in range(1,i+1):
        print(num,end="")
    for k in range(num-1,0,-1):
        print(k,end="")
    print()

4
    1
   121
  12321
 1234321

In [7]:
n=int(input())
for i in range(1,n+1):
    for num in range(1,i+1):
        print(num,end="")
    for spaces in range(n-i-1,-1,-1):
        print(" ",end="")
    for revspace in range(n-i-1,-1,-1):
        print(" ",end="")
    for revnum in range(i,0,-1):
        print(revnum,end="")
    print()

4
1      1
12    21
123  321
12344321

In [1]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end="")
    print()

5
12345
12345
12345
12345
12345

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

5
1
12
123
1234
12345

In [3]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(n-i,-1,-1):
        print(" ",end="")
    for num in range(i,0,-1):
        print(num,end="")
    print()

5
     1
    21
   321
  4321
 54321

In [7]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
1
22
333
4444
55555

In [8]:
n=int(input())
m=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(m,end="")
        m=m+1
    print()

5
1
23
456
78910
1112131415

In [ ]:
1
23
345
4567

In [11]:
n=int(input())
for i in range(1,n+1):
    for j in range(i,i+i):
        print(j,end="")
    print()

5
1
23
345
4567
56789

In [22]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print("*",end="")
        else:
            print(j,end="")
    print()

4
*234
1*34
12*4
123*

In [24]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(0,n-i):
        print(" ",end="")
    for num in range(1,i+1):
        print(num,end="")
    for revnum in range(num-1,0,-1):
        print(revnum,end="")
    print()

5
    1
   121
  12321
 1234321
123454321

In [39]:
n=int(input())
for i in range(n):
    for space in range(0,i):
        print(" ",end="")
    for num in range(1,n-i+1):
        print(num,end="")
    for rev in range(num-1,0,-1):
        print(rev,end="")
    print()

5
123454321
 1234321
  12321
   121
    1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

65
97

In [ ]:
'''
*000 * 000*
0*00 * 00*0
00*0 * 0*00
000* * *000
'''

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==j:
            print("*",end="")
        else:
            print("0",end="")
    print("*",end="")
    for j in range(1,n+1):
        if i+j-2==n-1:
            print("*",end="")
        else:
            print("0",end="")
    print()

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

In [48]:
a=14
sum=a
print(sum)

14

In [ ]:
1,2,3,4,5,6,7,8
8,1,2,3,4,5,6,7

In [1]:
n=[x for x in input().split()]
print(n[-1],end="")
n.pop()
for i in n:
    print(i,end="")

1 2 3 4 5 6 7
7123456

In [ ]:
0001
0012
0122
1222

In [11]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print("0",end=" ")
    print("1",end=" ")
    for k in range(1,i):
        print("2",end=" ")
    print()

7
0 0 0 0 0 0 1
0 0 0 0 0 1 2
0 0 0 0 1 2 2
0 0 0 1 2 2 2
0 0 1 2 2 2 2
0 1 2 2 2 2 2
1 2 2 2 2 2 2

In [16]:
def ab(a):
    i=0
    x=''
    j=0
    while(i<len(a)):
        j=i+1
        c=1
        while j<len(a) and (a[i]==a[j]):
            j+=1
            c+=1
        if c==1:
            x+=a[i]
        else:
            x+=a[i]+str(c)
        i=j
    return x
a=input()
print(ab(a))

uuuuggggcccugggccc
u4g4c3ug3c3

In [7]:
n=int(input())
for i in range(1,n+1):
    for spaces in range(1,n-i+1):
        print(" ",end="")
    for num in range(1,i+1):
        print(i,end="")
    for rev in range(i-1,0,-1):
        print(i,end="")
    print()

5
    1
   222
  33333
 4444444
555555555

In [7]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==n/2+1 and j==n/2+1:
            print("1",end="")
        elif i<n-1 and j<n-1 and i>2 and j>2:
            print("2",end="")
        elif i<n and j<n and i!= 1 and j!=1:
            print("3",end="")    
        else:
            print("4",end="")
    print()

7
4444444
4333334
4322234
4322234
4322234
4333334
4444444

In [4]:
n=int(input())
for i in range(n):
    for j in range(0,i+1):
        if j==0 or j==i:
            print(i+1,end="")
        else:
            print("0",end="")
    print()

4
1
22
303
4004