In [13]:
a={1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday",7:"sunday"}
b=a.values()
c=a.keys()
d=a.items()
print(b)
print(c)
print(d)

dict_values(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'])
dict_keys([1, 2, 3, 4, 5, 6, 7])
dict_items([(1, 'monday'), (2, 'tuesday'), (3, 'wednesday'), (4, 'thursday'), (5, 'friday'), (6, 'saturday'), (7, 'sunday')])

In [14]:
b=list(a.values())
for i in b:
    print(i)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [37]:
#how to create a dict
m=dict.fromkeys(["a","b",1,2],10)
m

{'a': 10, 'b': 10, 1: 10, 2: 10}

In [38]:
for i in d:
    print(i)

(1, 'monday')
(2, 'tuesday')
(3, 'wednesday')
(4, 'thursday')
(5, 'friday')
(6, 'saturday')
(7, 'sunday')

In [46]:
a.get("monday")

{'a': 10, 'b': 10, 1: 10, 2: 10}

In [54]:
a={1:2,3:4,5:6}
b={5:7,8:9,10:11}
a.update(b)
print(a)

{1: 2, 3: 4, 5: 7, 8: 9, 10: 11}

In [61]:
#wap in python to print all the words of a string that have freq 2
a=input()
b=a.split()
v=[]
for i in b:
    flag=0
    for j in b:
        if j==i:
            flag=flag+1
    if flag==2:
        if i not in v:
            v.append(i)
for i in v:
    print(i,end=" ")

hello india india i i i love love my my my my india hello
hello love

In [10]:
a={1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday",7:"sunday"}
a[1]="Hello"                      
print(a)

{1: 'Hello', 2: 'tuesday', 3: 'wednesday', 4: 'thursday', 5: 'friday', 6: 'saturday', 7: 'sunday'}

In [34]:
a={1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday",7:"sunday"}
a.get(6),24579

('saturday', 24579)

In [20]:
a={1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday",7:"sunday"}
a["key"]

KeyError: 'key'

In [35]:
a={1:"monday",2:"tuesday",3:"wednesday",4:"thursday",5:"friday",6:"saturday",7:"sunday"}
b=set(a)

{1, 2, 3, 4, 5, 6, 7}

In [47]:
c=[1,2,2,3,3,4,4,5,5,6,7,8,6,4]
c=set(c)
c=list(c)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a.intersection(b))
print(a.union(b))

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
a={"monday","tuesday","wednesday","thursday","friday","saturday","sunday"}
for i in a:
    print(i)

thursday
friday
sunday
tuesday
wednesday
saturday
monday

In [90]:
for i in range(1,4):
    if i ==3:
        continue 
    else:
        a={1,2,3,4,5}
        print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [91]:
a={1,2,3,4,5,6}
a.remove(3)
print(a)

{1, 2, 4, 5, 6}

In [93]:
a={1,2,3,4,5,6,7}
a.discard(3)
print(a)

{1, 2, 4, 5, 6, 7}

In [96]:
#write a programme to find out the addition of all unique elements in the list.
a=[int(x) for x in input().split()]
b=set(a)
sum=0
for k in b:
    sum=sum+k
print(sum)

1 2 3 3 4
10

In [105]:
a=[1,2,3,4,5,6,7,8,9]
b=dict(a)
print(b)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [1]:
s = {1,2,3,5,4,2,3,1}
print(len(s),end= " ")
s.add(4)
s.add(3)
print(len(s))

5 5

In [2]:
s = {}
s.add(4)
s.add(4)
print(len(s))

AttributeError: 'dict' object has no attribute 'add'

In [4]:
n=int(input())
a=int(input())
b=[int(x) for x in input().split()]
b.sort()
for i in b:
    print(i,end=" ")

2
3
4
4

In [88]:
import numpy as np
a=np.arange(10)
print(a)

[0 1 2 3 4 5 6 7 8 9]

In [100]:
a={int(x) for x in input().split()}
b={int(y) for y in input().split()}
for i in b:
    if i in a:
        a.remove(i)
print(a)

1 2 3 4 5
3 4 5 6 7 8
{1, 2}

In [14]:
a=["abc","cda","bcd"]
b=[10,20,30]
c=dict(zip(a,b))
print(c)

{'abc': 10, 'cda': 20, 'bcd': 30}

In [15]:
c.get("bcd",0)

30

In [16]:
a=[("hello","hii"),(1,2),(3,4)]
b=dict(a)
b

{'hello': 'hii', 1: 2, 3: 4}

In [41]:
d=b.copy()
print(d)

{'abc': 10, 'cda': 20, 'bcd': 30}

In [30]:
del d["abc"]
print(d)

{'cda': 20, 'bcd': 30}

In [51]:
a={1:2,3:4,5:6,7:8}
a.pop(1)

2

In [52]:
print(a)

{3: 4, 5: 6, 7: 8}

In [63]:
a=(1,2,3,4,5,6,5,4,3,9,8,7,6,5,4,3,2)
d={}
for i in a:
    d[i]=d.get(i,0)+1
print(d)

{1: 1, 2: 2, 3: 3, 4: 3, 5: 3, 6: 2, 9: 1, 8: 1, 7: 1}

In [64]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB #Union of Sets
print(AllDays)

{'Sat', 'Mon', 'Thu', 'Tue', 'Fri', 'Wed', 'Sun'}

In [75]:
a="welcome to chitkara"
b=a.split()
for i in b:
    for j in i:
        print(i[::-1],end=" ")
        break

emoclew ot araktihc

In [79]:
student={
    1:2,3:4,5:6
}
m=student[5]
m

6

In [84]:
a={1:2,3:4,5:6,7:8}
a.items()

dict_items([(1, 2), (3, 4), (5, 6), (7, 8)])

In [88]:
a=[(1,2),(3,4),(5,6)]
b=dict(a)
print(b)

{1: 2, 3: 4, 5: 6}

In [90]:
a=[1,2],3,4,5
a[0][1]=10
a[2]=20
a

TypeError: 'tuple' object does not support item assignment

In [95]:
a="yellow","blue",20
b,c,d=a
print(e)

NameError: name 'e' is not defined